/build/

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.opensdf
*.sdf
*.ilk
*.obj
*.idb
*.tlog
*.log
*.exp
*.exe

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
*.ninja

*.out
*.a
*.so
*.dylib

*.log
*.tmp
*.swp
*.bak

.idea/
*.code-workspace